node_modules
.git
.gitignore
.env
.env.*
!.env.example
npm-debug.log
Dockerfile
docker-compose.yml
.dockerignore
README.md
.vscode
.idea
*.md
.svelte-kit
build
.vercel
.netlify
coverage
*.log
.DS_Store
